:root {
  /* Colors */
  --primary-clr: hsl(0, 73%, 77%);
  --dark-clr: hsl(200, 18%, 26%);
  --light-clr: hsl(34, 21%, 94%);
  --gray-clr: hsl(71, 5%, 54%);
  --black-bg-clr: rgba(0, 0, 0, 0.8);

  --shadow: 0 0.5rem 1rem hsla(0, 73%, 77%, 0.11),
    0 0.3rem 0.3rem hsla(0, 73%, 77%, 0.15);

  /* Fonts */
  --fs-heading-main: 3rem;
  --fs-heading-title: 2.25rem;
  --fs-heading-card: 1.5rem;
  --fs-reg: 1rem;

  --ff-reg: "Lato", sans-serif;
  --ff-headers: "Lobster", cursive;
  --fw-reg: 400;
  --fw-bold: 700;

  /* Spacing */
  --margin: 0.5em;
  --nav-height: 6.25em;
}

@media (min-width: 46.875em) {
  :root {
    --fs-heading-main: 3.75rem;
    --fs-heading-title: 2.8125rem;
    --fs-heading-card: 1.875rem;
    --fs-reg: 1.25rem;

    --nav-height: 7.8125em;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Reset sourced from : https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Make all text have regular font-weight */
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

/* Remove list styles on ul, which suggests default styling will be removed */
ul {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  font-family: var(--ff-reg);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--black-bg-clr);
  color: var(--dark-clr);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  /* display: block; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
input {
  outline: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility Classes     */
/* ------------------- */

/* General */

.flex {
  display: flex;
}

.container {
  padding: 0 4em;
}

.hidden {
  display: none;
}

/* Colours */

.bg-primary {
  background-color: var(--primary-clr);
}

.bg-light {
  background-color: var(--light-clr);
}

.text-dark {
  color: var(--dark-clr);
}

.text-primary {
  color: var(--primary-clr);
}

.text-light {
  color: var(--light-clr);
}

/* Typography */

.ff-heading {
  font-family: var(--ff-headers);
}

.fs-heading-main {
  font-size: var(--fs-heading-main);
  text-align: center;
}

.fs-heading-title {
  font-size: var(--fs-heading-title);
}

.fs-icons {
  font-size: var(--fs-icons);
}

.fs-heading-card {
  font-size: var(--fs-heading-card);
}

.fs-heading-main,
.fs-heading-title,
.fs-heading-card {
  line-height: 1.1;
}

.fw-bold {
  font-weight: var(--fw-bold);
}

/* ------------------- */
/* Main page           */
/* ------------------- */

/* Header */

.logo-container {
  flex-direction: column;
  align-items: center;
  height: var(--nav-height);
}

.site-logo {
  max-width: 6em;
  margin-top: 0.5em;
}

@media (min-width: 46.875em) {
  .site-logo {
    max-width: 8em;
  }
}

nav {
  position: fixed;
  background: var(--primary-clr);
  color: var(--light-clr);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--light-clr);
  text-decoration: underline;
}

.social-list {
  margin-top: var(--margin);
  justify-content: space-between;
}

.nav-toggle {
  margin: 0.25em 0;
  padding: 0.75em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em; /* Because we have padding: 0.5em this needs to be 1em */
  top: 1em;
  z-index: 1000; /* Needs higher z-index than nav so it'll always show */
}

.nav-toggle:focus {
  outline: none;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--dark-clr);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* General Layout */

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
}

/* Main content */

.cocktails-section {
  min-height: calc(100vh - var(--nav-height));
  background-image: url(../img/olena-sergienko-JjGLEN7T8xI-mobile.jpg);
  background-color: var(--black-bg-clr);
  background-blend-mode: multiply;
  background-size: cover;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cocktail-search {
  flex-direction: column;
  padding-top: 2em;
}

.cocktail-input {
  border-radius: 10px;
  border: 0;
  padding-left: 0.5em;
  margin-bottom: 0.3em;
  width: 100%;
}

.cocktail-input:focus {
  border: 2px solid var(--primary-clr);
}

.cocktails-list {
  margin: 3em 0;
}

.cocktail {
  background-color: var(--light-clr);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.cocktail-img {
  border-radius: 10px 10px 0 0;
}

.cocktail-title {
  margin: 0.2em 0 0.5em;
  text-align: center;
}

.cocktail-subtitle {
  margin: 0.4em 0;
}

/* Modals */

/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  min-width: 300px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
} */
